
#header > #title1{
    color: skyblue;
    float: left;
    font-size: 30px;
    padding-top: -20%;
    padding-left: 7%;
}

#header > #title2{
    float: left;
    margin-left: 1%;
    padding-top: 3%;
}