@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#wrap{
    width: 490px;
    height: 230px;
    margin: 0 auto;
}
#header{
    width: 490px;
    height: 50px;

    padding-top: 10px;
    box-sizing: border-box;
}

#header>h1{
    font-size: 20px;
    display: inline;
    margin-right: 230px;
    margin-left: 10px;
    cursor: pointer;
    margin-left: 20px;
}
#header>h1:hover{
    text-decoration: underline;
    /*마우스 커서 올라가면 밑줄 생기는 것*/

}

#header>span>a{
    color: gray;
}

#contents{
    width: 490px;
    height: 180px;
    padding: 20px 25px;
    box-sizing: border-box;
    
}
#contents>ul>li{
    float: left;
    margin-right: 10px;
}

#contents>ul>li>a{
    display: block;
    width: 100px;
    height: 120px;
}
#contents>ul>li>a>img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}