*{
    margin: auto;
    font-family: 'NanumSquareNeo-Variable';
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#title{
    width: 500px;
    height: 80px;
    margin-top: 50px;
}

[type = text], [type = password]{
    width: 400px;
    height: 30px;
    background-color: #e2e2e2;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top : 15px;
    display : block;
}

select{
    border: none;
    font-size: 15px;
}
[type = submit], button{
    width: 70px;
    height: 20px;
    margin-left: 10px;
    background-color: #ffd0d0;
    border: none;
    border-radius : 3px;
}
[type = submit]:active{
    background-color: #fdbbbb;
    border: solid 1px pink;
}

body {
    padding:1.5em;
    background: #f5f5f5
}
  
table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  text-align : center;
}

th {
  text-align: left;
}
  
thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}
  
td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
  
td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

a {
  color: #73685d;
}

@media all and (max-width: 768px) {
    
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th {
    text-align: right;
  }
  
  table {
    position: relative; 
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  thead {
    float: left;
    white-space: nowrap;
  }
  
  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  tr {
    display: inline-block;
    vertical-align: top;
  }
  
  th {
    border-bottom: 1px solid #a39485;
  }
  
  td {
    border-bottom: 1px solid #e5e5e5;
  }
  
  
}